:root {
    --bg-color: linear-gradient(90deg, rgba(7,6,92,1) 23%, rgba(8,7,106,1) 62%, rgba(9,9,121,1) 92%);
  }

*{
    margin: 0;
    padding: 0;
    font-size:50px;
}
html, 
body{
    font-family: 'VT323', monospace;
    height: 100%;
}

.container{
    margin-inline: auto;
    display: flex;
    height: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

html{
    font-size:70px;
}

canvas{
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(90deg, rgba(117,117,119,1) 23%, rgba(159,159,179,1) 62%, rgba(124,124,131,1) 92%) 1;
}


body{
    position: relative;
}

button{
    display: block;
    text-align: center;
    font-size: 0.3rem;
    margin-top:10px;
    margin-inline: auto;
    padding:5px 10px;
    min-width: 130px;
}

.buttons{
    margin-top:120px;
}

.left, .right{
    height:600px;
    width: 100%;
    text-align: center;
}
.titleGame{
    font-size:70px;
}

